/*
** ~COLOR PALLET~
** teal: #15A3A5;
** light grey: # f6f6f6;
*/

/*
** parent to:
** main-content &
** spash-content;
*/
.main-view{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

/*
** Parent to:
** section1-N
*/
.main-content{
  float: right;
  display: block;
  height: 100%;
  width: 100%;
}

@media(min-width: 768px){
  .main-content{
   /* padding: 5%;*/
    width: 50%
  }
}

.section1-pannel{
  background-color: #f6f6f6;
}

.section0-content,
.section1-content,
.section2-content,
.section3-content{
  padding: 10%;
  padding-top: 5%;
}

@media(min-width: 768px){
  .section0-content,
  .section1-content,
  .section2-content,
  .section3-content{
    padding: 5%;
  }
}

a{
  color: #15A3A5;
}

.bio-writeup{
  padding-bottom: 15%;
}

.section0-content > h2,
.section1-content > h2,
.section2-content > h2,
.section3-content > h2{
  padding-bottom: 5%;
}

.project-pannel {
  padding-bottom: 5%;
}

/* 
** left pannel, quick intro
** & contact info
*/
.splash-content{
  display: flex;
  position: relative;
  align-items: center;
  float: left;
  padding-left: 10%;
  padding-right: 10%;
  background: #15A3A5;
  background-size: 400% 400%;
  min-height: 400px;
}

@media(min-width: 768px){
  .splash-content{
    height: 100%;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
  }
}

.intro-splash > p,
.intro-splash > h1{
  color: #ffffff;
  font-weight: bold;
}

.contact-info{
  font-weight: normal;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}