/**
Color palette: muddy colors
9D7E79 - purple
CCAC95 - peach
9A947C - olive
748B83 - medium teal
5B756C - dark teal
A8A7A7 - pewter grey

**/

/*/
//
// Mobile navbar scaling
//
/*/
/*.navbar {
	background-color: transparent;
	background: transparent;
	border-color: #9D7E79;
}

.navbar .navbar-nav > li > a{
	color: #000000;
	font-weight: bold;
	font-size: 1em;
}

.navbar .navbar-nav > li > a:hover{
	color: #9A947C;
}


.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus{
	color: #000000;
	background-color: transparent;
	font-weight: bold;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	font-size: 1.5rem;
}*/

/*/
//
// Desktop navbar scaling
//
/*/
/*@media(min-width: 350px){
  .navbar .navbar-nav > li{
    display: inline-block;
  } 

  .navbar .navbar-nav > .active > a,
  .navbar .navbar-nav > .active > a:hover,
  .navbar .navbar-nav > .active > a:focus{
    font-size: 1.5em;
  }
}*/

/* thumbnail stuff */
.thumbnail{
	background-color: transparent;
	border-color: transparent;
}

.leftContainer{
	float: left;
	display: inline-block;
	width: 50%;
	margin: auto;
	text-align: center;
}

.rightContainer{
	float: right;
	display: inline-block;
	width: 50%;
	margin: auto;
	text-align: center;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

/*
** parent to:
** main-content &
** spash-content;
*/
.main-view{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

/*
** Parent to:
** section1-N
*/
.main-content{
  float: right;
  display: block;
  padding: 10%;
  height: 100%;
  width: 100%;
}

@media(min-width: 768px){
  .main-content{
    padding: 5%;
    width: 50%
  }
}

a{
  color: #15A3A5;
}

.bio-writeup{
  padding-bottom: 15%;
}

.section0 > h2,
.section1 > h2,
.section2 > h2,
.section3 > h2{
  padding-bottom: 5%;
}

.project-pannel {
  padding-bottom: 5%;
}

/* 
** left pannel, quick intro
** & contact info
*/
.splash-content{
  display: flex;
  position: relative;
  align-items: center;
  float: left;
  padding-left: 10%;
  padding-right: 10%;
  background: #15A3A5;
  background-size: 400% 400%;
  min-height: 400px;
}

@media(min-width: 768px){
  .splash-content{
    height: 100%;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
  }
}

.intro-splash > p,
.intro-splash > h1{
  color: #ffffff;
  font-weight: bold;
}

.contact-info{
  position: absolute;
  left: 50%;
  bottom: 5%;
  font-weight: normal;
}